# Discord
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
DISCORD_BOT_TOKEN=

NEXTAUTH_SECRET=
NEXTAUTH_URL=

DATABASE_URL=""

API_KEY=""
API_URL=""

REDIS_URL=""

# ClickHouse
CLICKHOUSE_HOST=""
CLICKHOUSE_USER=""
CLICKHOUSE_PASS=""
CLICKHOUSE_DB=""
CLICKHOUSE_URL=""
CLICKHOUSE_BATCH_SIZE=200
CLICKHOUSE_BATCH_FLUSH_MS=5000

# GITHUB
GITHUB_TOKEN=""

# OWNER ID
OWNER_ID=""